$col_width:960/$cols;

@mixin go_960($switch) {
	width:960px;
	margin:0 auto;
	@if $switch == on { background:url('../images/'+$cols+'_col.gif') repeat-y top center; }
}

@mixin stock_cube($colspan:$cols,$floater:none,$margins:0 10px 20px 10px) {
	width:($colspan * $col_width) - 20 + px;
	margin:$margins;
	@if $floater != center { float:$floater; } @else { clear:both;margin-left:auto;margin-right:auto; }
}