$col_width:960/$cols;

@mixin go_960($switch) {
	width:960px;
	margin:0 auto;
	@if $switch == on { background:url('../images/'+$cols+'_col.gif') repeat-y top center; }
}

@mixin stock_cube($colspan:$cols,$floater:0,$margins:0 10px 20px 10px) {
	width:($colspan * $col_width) - 20 + px;
	@if $floater != 0 { float:$floater; }
	margin:$margins;
}