$position_of_sub_menu:$top_level_padding_top + $top_level_padding_bottom + $top_level_size + $border_bottom_thickness;

@mixin menu_layout { 
	@if $menu_type == lefty {
		nav#main_menu {
			ul { float:left;left:0; 
				li { float:left;left:0;	}
			}
		}
	} @else if $menu_type == center {
		nav#main_menu {
			ul { float:right;right:50%; 
				li { float:left;left:50%;	}
			}
		}
	} @else if $menu_type == stacking {
		nav#main_menu {
			ul { float:none;left:0; 
				li { float:none;left:0;width:100%; }
				ul { top:0;left:100%; }
			}
		}
	}
}

/* Centred menu with drop downs from http://matthewjamestaylor.com/blog/centered-dropdown-menus */
nav#main_menu { clear:both;float:left;margin:0;padding:0;width:100%;font-family:$family;font-size:$top_level_size;line-height:$top_level_size;z-index:1000;position:relative;
	ul { margin:0;padding:0;list-style:none;position:relative;
		li { margin:0 0 0 $px_between_menu_items;padding:0;position:relative;
			a { display:block;margin:0;padding:$top_level_padding_top $top_level_padding_left_right $top_level_padding_bottom;font-size:$top_level_size;line-height:$top_level_size;background:$link_background;text-decoration:none;color:$link_color;border-bottom:$border_bottom;
				&:hover { background:$hover_background_color;color:$hover_color;border-bottom:$border_bottom; }
				@if $button_press == yes { &:active { position:relative;top:1px; }}
			}
		}
		&.active a { 	color:#fff;background:#000; }
		ul { display:none;position:absolute;top:$position_of_sub_menu;left:0;right:auto;width:$sub_level_width;
			li { left:auto;margin:0;clear:left;width:100%; }
		}
		ul li a, li.active li a, li:hover ul li a { font-size:$sub_level_size;font-weight:normal;background:$sub_link_background;color:$sub_link_color;line-height:$sub_level_size;border-bottom:$sub_border_bottom;padding:$sub_level_padding_top $sub_level_padding_left_right $sub_level_padding_bottom;}
		ul li a:hover,li.active ul li a:hover,li:hover ul li a:hover,li.hover ul li a:hover { background:$sub_hover_background_color;color:$sub_hover_link;	}
		ul.last { left:auto;right:0; }
		li:hover ul, li.hover ul { display:block;	}
	}
}

@include menu_layout;