/* =======================
   COLOURS
   ======================= */

$red:#6C0420;
$yellow:#DEB408;
$blue:#74B3C4;
$green:#91BC49;

$paragraph_color:#333; /* Go for a #333 for the sake of legibility. After all, that's what Apple does. */
$heading_color_odd:$red; /* Pick a color, any color */
$heading_color_even:$yellow;
$hyperlink_color:blue;

/* =======================
   960 GRID
   ======================= */

$cols:12; /* Choose from 12 or 16 */

/* =======================
   TYPOGRAPHY
   ======================= */

$base:14px; /* 14px is pretty good. 16px is arguably better. http://www.smashingmagazine.com/2011/10/07/16-pixels-body-copy-anything-less-costly-mistake/ */
$family:Helvetica; /* Pick a font stack, any font stack */

/* =======================
   NAVIGATION
   ======================= */

$menu_type:center; /* Anything other than center will produce a left aligned menu

/* Top Level */

$top_level_size:14px;

$border_bottom:1px solid green;

$top_level_padding_top:6px;
$top_level_padding_bottom:6px;
$top_level_padding_left_right:10px;

$link_color:#fff;
$link_background:#000;
$hover_background_color:$red;
$hover_color:#fff;

$px_between_menu_items:4px;

/* Sub Level */

$sub_level_size:$top_level_size;

$sub_level_width:200px;

$sub_level_padding_top:$top_level_padding_top;
$sub_level_padding_bottom:$top_level_padding_bottom;
$sub_level_padding_left_right:$top_level_padding_left_right;

$sub_border_bottom:$border_bottom;

$sub_link_color:$link_color;
$sub_link_background:$link_background;
$sub_hover_link:#fff;
$sub_hover_background_color:$yellow;