/* =======================
   COLOURS
   ======================= */

$red:#6C0420;
$yellow:#DEB408;
$blue:#74B3C4;
$green:#91BC49;

$paragraph_color:#333; /* Go for a #333 for the sake of legibility. After all, that's what Apple does. */
$heading_color_odd:$red; /* For h1,h3,h5 */
$heading_color_even:$yellow; /* For h2,h4,h6 */
$hyperlink_color:blue;

/* =======================
   960 GRID
   ======================= */

$cols:12; /* Choose from 12 or 16 */

/* =======================
   TYPOGRAPHY
   ======================= */

$base:16px; /* 14px is pretty good. 16px is arguably better. http://www.smashingmagazine.com/2011/10/07/16-pixels-body-copy-anything-less-costly-mistake/ */
$family:Georgia,serif; /* Pick a font stack, any font stack */
$head_family:$family; /* Choose a separate font stack for the headings */

/* =======================
   NAVIGATION
   ======================= */

$menu_type:center; /* stacking | lefty | center

/* Top Level */

$top_level_size:16px;

$border_bottom:1px solid #666;
$border_bottom_thickness:1px; /* Yes, yes. I know you've declared this above, but tough. You need to add this so we can calculate offsets */

$top_level_padding_top:26px;
$top_level_padding_bottom:6px;
$top_level_padding_left_right:10px;

$link_color:#333;
$link_background:#ddd;
$hover_background_color:$red;
$hover_color:#fff;

$px_between_menu_items:0px;

/* Sub Level */

$sub_level_size:16px;

$sub_level_width:200px;

$sub_level_padding_top:8px;
$sub_level_padding_bottom:$top_level_padding_bottom;
$sub_level_padding_left_right:$top_level_padding_left_right;

$sub_border_bottom:1px solid #777;

$sub_link_color:$link_color;
$sub_link_background:$link_background;
$sub_hover_link:#fff;
$sub_hover_background_color:$yellow;